@use "sass:color";


/* #region Font Colours */
$font: (
	"regular": #111,
	"header": (
		"link": (
			"regular": #fff,
			"minimized": #000
		)
	),
	"footer": (
		"regular": #a7a7a7,
		"link": (
			"regular": color.scale(#a7a7a7, $lightness: -15%)
		)
	)
);
/* #endregion Font Colours */


/* #region Background Colours */
$background: (
	"regular": #f8f8f8,
	"secondary": #f3f3f3
);
/* #endregion Background Colours */


$palette: (
	"pale": #b7d2dd,
	"dark": #07345b,
	"purple": #82688b,
	"gold": #f0b066,
	"pink": #dd9394
);

$separator: #e2e2e2;