@use "sass:color";
@use "sass:map";
@use "/src/styles/modules/breakpoints";
@use "/src/styles/modules/colours";
@use "/src/styles/modules/ui";


body {
	background-color: map.get(colours.$background, "regular");
}


/* #region Header */
$header-transition-duration: 0.5s;

@keyframes appear {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1;
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	padding: 2.5rem 1.75rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	opacity: 0;
	animation-name: appear;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	transition: padding $header-transition-duration, background-color $header-transition-duration, box-shadow $header-transition-duration;


	&.contrast {
		> #header__title {
			color: map.get(colours.$font, "regular");
		}

		#header__nav__icon {
			filter: invert(0) !important;
		}

		> #header__nav__container > #header__nav__links > .header__link {
			--header__link-color: #{map.get(colours.$font, "regular")};
		}
	}


	&.min {
		padding: 1.25rem;
		background-color: map.get(colours.$background, "regular");
		box-shadow: 0 0 1rem rgba(0,0,0,0.3);
		animation-delay: 0s;

		#header__title {
			font-size: 2rem;
		}
	}


	> #header__title {
		color: map.get(colours.$font, "regular");
		transition: $header-transition-duration;
		font-family: "Fira Sans", sans-serif;
		font-weight: 600;
		font-size: 2.5rem;
		color: white;
	}

	> .header__spacer {
		flex: 1;
	}

	> #header__nav__container {
		position: relative;
		width: 2rem;
		height: 2rem;

		> button#header__nav__button {
			@include ui.remove-button-defaults;
			width: 100%;
			height: 100%;

			> #header__nav__icon {
				filter: invert(100%);
				transition: filter $header-transition-duration;
				width: 100%;
				height: 100%;
			}
		}

		> #header__nav__links {
			position: absolute;
			z-index: 11;
			display: flex;
			flex-flow: column nowrap;
			top: calc(100% + 1rem);
			left: 100%;
			transform: translateX(-100%);
			border: 1px solid black;
			width: calc(100vw - 3rem);
			background-color: map.get(colours.$background, "regular");
			max-height: 50vh;
			overflow-y: hidden;
			transition: max-height 0.5s, border-color 0.5s;

			&.hidden {
				max-height: 0;
				border: 0px solid transparent;
			}

			> a.header__link {
				padding: 1.25rem 1.75rem;
				font-size: 1.15rem;
				color: var(--header__link-color);
				text-decoration: none;
				font-family: "Fira Sans", sans-serif;
				font-weight: 500;
				transition: $header-transition-duration;
			}
		}
	}
}

@media(min-width: breakpoints.$tablet) {
	#header {
		padding: 3rem 4rem;

		&.min {
			padding: 1.75rem;
		}

		> #header__nav__container {
			width: auto;
			height: auto;
			
			> #header__nav__button {
				display: none;
			}

			> #header__nav__links {
				max-height: none !important;
				position: static;
				display: flex;
				flex-flow: row nowrap;
				transform: none;
				width: auto;
				background-color: transparent;
				overflow: visible;

				> a.header__link {
					--header__link-color: #{map.get(colours.$font, "header", "link", "regular")};

					padding: 0;
					position: relative;

					&:not(:last-of-type) {
						margin-right: 2.5rem;
					}
			
					&::before {
						content: "";
						position: absolute;
						bottom: -0.125rem;
						height: 0.125rem;
						width: 100%;
						background-color: var(--header__link-color);
						transform: rotateY(90deg);
						transition: transform 0.4s, color $header-transition-duration;
						border-radius: 1px;
					}
			
					&:hover {
						--header__link-color: #{map.get(colours.$palette, "purple")};
			
						&::before {
							transform: rotateY(0deg);
						}
					}
				}
			}
		}
	}
}
/* #endregion Header */


/* #region Splash Image */
@keyframes fade-in-bounce {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	33% {
		opacity: 0.5;
		transform: translateY(-0.2rem);
	}

	66% {
		opacity: 1;
		transform: translateY(0.2rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#splash__wrapper {
	position: relative;
	overflow: hidden;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6rem), 50% 100%, 0 calc(100% - 6rem));
	height: 70vh;
	width: 100%;

	> picture > #splash__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	> #splash__arrow {
		position: absolute;
		bottom: 1rem;
		z-index: 11;
		width: 100%;
		height: 9rem;
		background-color: white;
		clip-path: polygon(40% 7.8rem, 60% 7.8rem, 50% 9rem);
		animation-name: fade-in-bounce;
		animation-delay: 1s;
		animation-duration: 1.5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		opacity: 0;
	}
}

@media(min-width: breakpoints.$tablet) {
	#splash__wrapper {
		height: 80vh;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7.5rem), 50% 100%, 0 calc(100% - 7.5rem));

		> picture > #splash__img {
			min-height: 100%;
			width: 100%;
		}

		> #splash__arrow {
			clip-path: polygon(40% 7.5rem, 60% 7.5rem, 50% 9rem);
		}
	}
}



#splash__wrapper {
	position: relative;
	overflow: hidden;

	@media(min-width: breakpoints.$desktop) {

		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7.5rem), 50% 100%, 0 calc(100% - 7.5rem));
	}

	#splash__img {
		position: absolute;
		bottom: 0;
		height: 80vh;

		@media(min-width: breakpoints.$tablet) {
			min-width: 100%;
			height: auto;
		}
	}
}

/* #endregion Splash Image */


main {
	width: 100%;
}


/* #region About Me */
#about-me {
	@include ui.section;
	@include ui.centered;

	#about__title {
		@include ui.heading;
	}

	#about__wrapper {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;


		> picture > #about__img {
			width: 10rem;
			height: 10rem;
			border-radius: 5rem;
			border: 0.75rem solid #{map.get(colours.$background, "secondary")};
			box-shadow: 0.2rem 0.2rem 0.75rem rgba(0,0,0,0.125);
			opacity: 1;

			&.hidden {
				opacity: 0;
			}

			&:not(.hidden) {
				transition: opacity 1.5s;
			}
		}

		p {
			@include ui.body-text;

			&:first-of-type {
				margin-top: 2rem;
			}
		}
	}
}

@media(min-width: breakpoints.$tablet) {
	#about-me {
		> #about__wrapper {
			flex-flow: row nowrap;

			> picture > #about__img {
				margin-right: 3rem;
			}

			> p {
				&:first-of-type {
					margin-top: 0;
				}
			}
		}
	}
}
/* #endregion About Me */


div.section-separator {
	height: 2px;
	background-color: colours.$separator;
	width: 75%;
	margin: 5rem auto 0;
	border-radius: 1px;

	@media(min-width: breakpoints.$tablet) {
		width: 65%;
		margin: 7.5rem auto 0;
	}
}


/* #region Projects Section */
#projects {
	@include ui.centered;
	@include ui.section;

	#projects__title {
		@include ui.heading;
	}
}
/* #endregion Projects Section */


/* #region Socials Row */
#get-in-touch {
	@include ui.centered;
	@include ui.section;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	#connect__title {
		@include ui.heading;
	}

	#connect__row {
		display: inline-flex;
		width: auto;
		max-width: 100%;
		flex-flow: row wrap;
		justify-content: center;

		.connect__link {
			display: block;
			width: 6rem;
			height: 6rem;
	
			> .connect__link__icon {
				width: 2rem;
				height: 2rem;
				margin: 2rem;
				transition: 0.5s;
			}
	
			&:hover > .connect__link__icon {
				width: 2.5rem;
				height: 2.5rem;
				margin: 1.75rem;
			}
			
			&#connect__icon-twitter { background-color: #1DA1F2; }
			&#connect__icon-linkedin { background-color: #0A66C2; }
			&#connect__icon-github { background-color: #181717; }
			&#connect__icon-spotify { background-color: #1ed760; }
			&#connect__icon-pocket { background-color: #EF3F56; }
			&#connect__icon-revolut { background-color: white; }
			&#connect__icon-kofi { background-color: #FF5E5B; }
			&#connect__icon-mail { background-color: #747474; }
		}
	}
}

@media(min-width: breakpoints.$tablet) {
	#get-in-touch {
		> #connect__row {
			justify-content: flex-start;
		}
	}
}
/* #endregion Socials Row */


/* #region Footer */
#footer {
	background-color: map.get(colours.$background, "secondary");
	box-shadow: inset 0 1rem 1rem -0.5rem rgba(0,0,0,0.075);
	color: map.get(colours.$font, "footer", "regular");
	margin-top: 5rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	line-height: 1.5;
	padding: 1.5rem;

	@media(min-width: breakpoints.$tablet) {
		padding: 3rem 5rem;
		flex-flow: row nowrap;
	}

	> .footer__column {
		flex: 1;
		width: 100%;

		&#footer__column-right {
			text-align: right;

			a {
				color: map.get(colours.$font, "footer", "link", "regular");
			}
		}
	}
}

@media(min-width: breakpoints.$tablet) {
	#footer {
		padding: 2rem 3rem;
		flex-flow: row nowrap;
	}
}
/* #endregion Footer */